{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
  },
  "parser": "babel-eslint",
  "rules": {
    "block-scoped-var": 0,
    "comma-dangle": 0,
    "func-names": 0,
    "indent": 0,
    "new-cap": 0,
    "no-else-return": 0,
    "no-irregular-whitespace": 0,
    "no-shadow": 0,
    "no-use-before-define": 0,
    "object-shorthand": 0,
    "padded-blocks": 0,
    "max-len": [ 2, 1000, 4 ]
  }
}